# Virtual Environments
venv/
backend/venv/
env/
ENV/

# Python Cache & Build Artifacts
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment Secrets
.env
*.env

# IDE / VS Code
.vscode/
.devcontainer/
*.code-workspace